<div class="container ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 bento-box box1">
            <app-pegasus></app-pegasus>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col bento-box box2 ">
                    <app-apipiccolas></app-apipiccolas>
                </div>
            </div>
            <div class="row">
                <div class="col  bento-box box3">
                    <app-piccolas></app-piccolas>
                </div>
            </div>
        </div>
    </div>
</div>