<div class="container-about">
    <ul>
        <li><img src="../../../assets/images/photo.jpg" alt="foto" class="circle-image">
        </li>
        <li><h2>James Granados</h2></li>
        <li><h5>Fullstack Developer</h5></li>
    </ul>

    <ul class="icons">
        <li><button class="icon-button"><i class="bi bi-github"></i></button></li>
        <li><button class="icon-button"><i class="bi bi-envelope-fill"></i></button></li>
        <li><a href="https://www.linkedin.com/in/your-profile" target="_blank" class="icon-button"><i class="bi bi-linkedin"></i></a></li>
    </ul>
    <div class="btn">
        <button>Download CV</button>
    </div>
    
</div>