<div class="container ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 bento-box box1">
            <app-mis-redes></app-mis-redes>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col bento-box box2 ">
                    <section class="mx-3">
                        <h4>Sobre mi</h4>
                        <p>
                            Desarrollador fullstack apasionado, especializado en la creación de aplicaciones web en todo el ciclo de vida del software, 
                            desde el análisis hasta la implementación. Estoy en constante aprendizaje y adaptación a nuevas herramientas
                             y técnicas. Comprometido con la excelencia en el código, me esfuerzo por entregar productos de alta calidad.
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12 bento-box box3">
                    <app-skills></app-skills>
                </div>
            </div>
        </div>
    </div>
</div>