.container{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bento-box {
    
    display: flex;
    justify-content: center;
    
    border-radius: 10px;
    border: 1px solid #A19B88;
    font-size: 20px;
    margin: 8px;
    
}

.box1 {
    height: 615px;
}
.box2{
    display: flex;
    align-items: center;
    height: 200px;
}
.box3{
    height: 400px;
}
app-skills {
    width: 100%;
}
.mx-3{
    padding-top: 1em;
}

@media (max-width: 767.98px) {
    .box1 {
        height: 600px;
    }
    .box2{
        height: 400px;
    }
    .box3{
        height: 500px;
    }
}
