<div class="container ">
    <div class="row">
        <div class="col-md-4 bento-box box1">
            <app-mis-redes></app-mis-redes>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-12 bento-box box2 ">
                    <section class="mx-3">
                        <h4>About me</h4>
                        <p>
                            Passionate fullstack developer specialized in creating web applications all across software
                            cycle life from analysis to deployment.
                            I am constantly learning and adapting to new tools and techniques. Committed to code
                            excellence, I strive to deliver high-quality products.
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12 bento-box box3">
                    <app-skills></app-skills>
                </div>
            </div>
        </div>
    </div>
</div>