<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 bento-box box1">
            <section class="sena p-4">
                <h2>Analisis y desarrollo de software</h2>
                <h3>2024</h3>
                <p>El tecnólogo en Análisis y Desarrollo de Software es un profesional capacitado para analizar, 
                    diseñar, desarrollar, implementar y mantener sistemas de software. Su trabajo implica entender
                     las necesidades del usuario, traducirlas en requisitos técnicos, crear soluciones mediante el uso de 
                     lenguajes de programación, bases de datos y herramientas de desarrollo. Además, puede realizar pruebas,
                      depurar errores y asegurar que los programas funcionen correctamente.</p>

            </section>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-12 bento-box box2 ">
                    <section class="incap p-4">
                        <h2>Operacion de programas informaticos y bases de datos</h2>
                        <h3>2017</h3>
                        <p>El programa proyecta a sus tecnicos egresados como líderes en el ámbito técnico-académico 
                            en las áreas de la computación, con especial énfasis en las soluciones informáticas para 
                            la gestión de información empresarial</p>

                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col bento-box box3">
                    <section class="secondary p-3">
                        <h2>Oracle NextEducation</h2>
                        <h3>2023</h3>
                        <p>Bootcamp Backend</p>
                    </section>
                </div>
                <div class="col bento-box box4">
                    <section class="secondary p-3">
                        <h2>Talento Tech</h2>
                        <h3>2023</h3>
                        <br>
                        <p>Bootcamp Fullstack</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>