<div class="container">
    <h4>Pegasus CMR</h4>
    <p>Sistema que gestiona las relaciones con clientes, organizando y creando oprtunidades,
        tareas y clientes, mejorando la satisfacción y eficiencia empresarial.</p>
    <div class="contenedor">
        <figure class="text-center">
            <img src="../../../assets/images/pegasus/pegasus1.png" alt="angular logo">
            <div class="overlay">
                <a href="#" class="boton">Ver Repositorio</a>
            </div>
        </figure>
    </div>

</div>