<div class="container">
    <h4>Tienda en linea Piccolas</h4>
    <p>Tienda en linea hecha en codigo nativo angular con 
        alta personalizacion de acuerdo a los requerimientos del cliente</p>
    
        <div class="contenedor">
            <figure >
                <img src="../../../assets/images/piccolas/piccolas1.png" alt="angular logo">
                <div class="overlay">
                    <a href="https://github.com/jamesgran/piccolas-frontend" target="_blank" class="boton">Ver Repositorio</a>
                </div>
            </figure>
        </div>
</div>

