<section class="container">
    <h4>Habilidades</h4>
    <div class="row">
        <div class="col">
            <h5>FrontEnd</h5>
            <ul>
                <li>
                    <figure>
                        <img src="../../../assets/images/angular.png" alt="angular logo">
                        <figcaption>Angular</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="../../../assets/images/bootstrap.png" alt="bootstrap logo" class="boot">
                        <figcaption>Boostrap</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="../../../assets/images/material.png" alt="material logo">
                        <figcaption>Material</figcaption>
                    </figure>
                </li>
            </ul>

        </div>
        <div class="col ms-5">
            <h5>Lenguajes</h5>
            <ul>
                <li>
                    <figure>
                        <img src="../../../assets/images/Typescript.png" alt="typescript logo">
                        <figcaption>Typescript</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="../../../assets/images/java.png" alt="java logo" >
                        <figcaption>Java</figcaption>
                    </figure>
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <h5>BackEnd</h5>
            <ul>
                <li>
                    <figure>
                        <img src="../../../assets/images/node.png" alt="node logo">
                        <figcaption>Node JS</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="../../../assets/images/express.png" alt="express logo" >
                        <figcaption>Express</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="../../../assets/images/Postgresql.png" alt="postgres logo">
                        <figcaption>PostgreSQL</figcaption>
                    </figure>
                </li>
            </ul>

    </div>
</section>
